/*-------------------------------BARRE DE NAVIGATION--------------------*/
nav {
    height: 13vh;
    width: 99vw;
    position: sticky;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    height: 10vh;
    width: 10vw;
    display: inline-block;
}

nav p {
    height: auto;
    width: 12vw;
    display: inline-block;
    text-align: center;
    vertical-align: 5vh;
    border-right: 1px solid black;
    font-size: 2rem;
}

/*------------------------------CONTENUE MAIN---------------------*/
main {
    height: 81vh;
    width: 99vw;
    background: #ffffff;
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%)
}

main h1 {
    height: 25vh;
    width: auto;
    display: table-cell;
    vertical-align: bottom;
}

main h2 {
    height: 15vh;
    width: auto;
    vertical-align: top;
}

.Bouton {
    border: 1px solid green;
    height: 5vh;
    width: 15vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(104, 141, 47);
    border-radius: 2rem;
    text-shadow: 1px 1px 1px black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}


/*----------------ARRIVER SUR LES AUTRES PAGES------------------------*/
.gros_mid {
    width: 99vw;
    height: 80vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 10rem;
}

/*-----------------FOOTER--------------*/
footer {
    height: 2vh;
    width: 99vw;
    text-align: center;
    font-size: larger;
}